body {
	background: #151515 ;
	color: #ccc ;
	max-width: 800px ;
	margin: auto ;
	padding: 0 16px ;
	margin-bottom: 500px ;
	font-family: sans-serif ;
}

a {
	color: lightblue ;
}

a:visited {
	color: gray ;
}

h1 {
	text-align: center ;
}

h1.forte {
	text-align: center ;
	font-family: 'Forte', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 36px;
  padding:10px;
}


h2 {
	color: tomato ;
}

footer {
	text-align: center ;
}

img {
	max-width: 600px ;
	width: 100% ;
	margin: auto ;
	display: block ;
}

code {
	overflow-wrap: break-word ;
	color: lime ;
}

img[alt="BTC logo"],
img[alt="XMR Logo"] {
	max-width: 1em ;
	max-height: 1em ;
	display: inline ;
}

@media (prefers-color-scheme: light) {
	body {
		background: white ;
		color: black ;
	}
	a {
		color: blue ;
	}
	a:visited {
		color: purple ;
	}
	h2 {
		color: inherit ;
	}
	code {
		color: forestgreen ;
	}
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}

div.centered {
	text-align: center;
}

p.centered {
	text-align: center;
}

h2.centered {
	text-align: center;
}

h3.centered {
	text-align: center;
}

h4.centered {
	text-align: center;
}

input.center-block {
	text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.CodeMirror,
.CodeMirror-scroll {
    max-height: 300px;
}

.CodeMirror-fullscreen.CodeMirror {
    max-height: none;
}

.CodeMirror-fullscreen .CodeMirror-scroll {
    max-height: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
